<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="https://unpkg.com/mathjs@11.11.1/lib/browser/math.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/csolve.js"></script>
  </head>
  <body>
    <input
      type="text"
      id="exp"
      placeholder="Enter a valid expression"
      value="y^4=x^2~y"
    />
    <button id="solve">Solve</button><br />
    <textarea
      name=""
      id="out"
      placeholder="Result is displayed here"
      style="width: 100%; height: 200px"
    ></textarea>

    <script>
      $(document).ready(function () {
        $("#solve").click(async function () {
          const input = $("#exp")[0].value;
          if (input.indexOf("~") == -1 || input.length < 4) {
            alert(
              "Invalid input. Input must be 4 or more characters and contain a '~' separator."
            );
            return;
          }
          const arr = $("#exp")[0].value.replaceAll(" ", "").split("~");
          if (arr.length != 2) {
            alert(
              "Invalid input. Input must be 4 or more characters and contain a '~' separator."
            );
            return;
          }
          // console.log(arr[0], arr[1]);
          const exp = arr[0].replaceAll(" ", "");
          const v = arr[1].replaceAll(" ", "");
          //console.log(exp, v);
          // solve_for(exp, v);
          try {
            let res = await solve_for("1/sin(x)", "x");
            console.log(res);
          } catch (error) {
            console.log(error);
          }
        });
      });
    </script>
  </body>
</html>
